<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="test">

<listeners>
<listener class-name="qaclickacademy.listeners"/>
</listeners>
	<test name="valiadating abc">
		<classes>
			<class name="qaclickacademy.AppTest" />
			</classes>
	</test>

	<test name="Testasdsa">
		<classes>
			<class name="qaclickacademy.homepage" />
			</classes>
	</test>

	<test name="Testssdrtghads">
		<classes>
			<class name="qaclickacademy.AssertionhomepageURl4" />
			</classes>
	</test>

	<test name="Testfgfh">
		<classes>
			<class name="qaclickacademy.AssertionhomepageTitle3" />
			</classes>
   </test> 
</suite> 
